# This script will run the first time the virtual machine boots
# It is ran as root.

# Install openssh-server
apt-get update
apt-get install -qqy --force-yes openssh-server

# install ssh authorized key from ansible host so root login is passwordless
#
mkdir ~/.ssh
cat "{{ ansible_ssh_host_key_rsa_public }}" >> ~/.ssh/authorized_keys
